img {
  background:
    url('../../assets/placeholder.png')
    no-repeat
    center;
}
mat-spinner {
  margin-bottom: 10px;
}
mat-card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  max-width: 256px;
  max-height: 24px;
}
.container {
  padding-top: 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: center;
}

.mat-card {
  cursor: pointer;
}
:host {
  display: block;
}
